html {
  background-color: #80B6ED;
}
body {
  width: 600px;
  margin: auto auto;
  padding: 0px 20px 20px 20px;
  background-color: white;
  border: 5px solid black;
}
p {
  color: blue;
  font-size: 18px;
  line-height: 2;
}
h1 {
  margin: 0;
  padding: 20px 0;    
  color: black;
  text-shadow: 1px 1px 2px grey;
  text-align: center;
}
h2 {
  color: green;
}
h3 {
  color: grey;
}